@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chivo:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* , a, li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: red;
}


.section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section1 {
  background-image: url('img/bg1.jpg');
}

.section2 {
  background-image: url('img/bg2.jpg');
}

.section3 {
  background-image: url('img/bg3.jpg');
}

.section4 {
  background-image: url('img/bg4.jpg');
}

.section5 {
  background-image: url('img/bg5.jpg');
}

nav {
  width: 100%;
  height: 80px;
  background-color: transparent;
  padding-top: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px 0px 100px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.logo {
  height: 50px;
  width: 250px;
}

.navbar ul {
  display: flex;
  margin-right: 175px;
}

.navbar ul li {
  padding: 10px 20px;
}

.navbar .menu .shop {
  color: #fff;
  padding: 10px;
}

.navbar .menu i {
  padding: 10px;
}

.bg-text {
  color: #fff;
  position: absolute;
  left: 100px;
  bottom: 100px;
  width: 40%;
  text-transform: uppercase;
}

.bg-text .h1-mobile {
  display: none;
}

.bg-text button {
  margin-top: 20px;
}

.btn {
  position: relative;
  padding: 20px 50px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.btn-outline {
  border: 2px solid #fff;
}


/* footer */
footer {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px
}

footer .container h3 {
  font-weight: 300;
  font-size: 12px;
  color: gray;
}

footer .container a {
  padding: 10px;
  margin: 0px 10px;
  font-size: 12px;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .navbar ul {
    display: none
  }

  .navbar .menu .shop {
    display: none;
  }

  .bg-text h1 {
    display: none;
  }
  
  .bg-text .h1-mobile {
    display: block;
    font-size: 40px;
  }

  footer {
    width: 100%;
  }

  footer .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  footer .container h3 {
    text-align: center;
    margin-bottom: 15px;
  }

  footer .container .footer-links .footer-link {
    padding: 0px;
  }
}


@media screen and (max-width: 450px) {
  .nav {
    height: 40px;
    padding: 10px;
  }

  .navbar {
    margin: 0px 20px;
  }

  .logo {
    height: 25px;
    width: 125px;
  }

  .navbar ul {
    display: none
  }

  .navbar .menu .shop {
    display: none;
  }

  .navbar .menu i {
    padding: 5px;
  }

  .section1 {
    background-image: url('img/mobile/bg1.jpg');
  }
  
  .section2 {
    background-image: url('img/mobile/bg2.jpg');
  }
  
  .section3 {
    background-image: url('img/bg3.jpg');
  }
  
  .section4 {
    background-image: url('img/bg4.jpg');
  }
  
  .section5 {
    background-image: url('img/bg5.jpg');
  }

  .bg-text {
    left: 30px;
    bottom: 100px;
    width: 75%;
  }

  .bg-text h3 {
    font-size: 16px;
  }

  .bg-text h1 {
    display: none;
  }
  
  .bg-text .h1-mobile {
    display: block;
    font-size: 20px;
  }

  .btn {
    padding: 10px 30px;
  }

  footer {
    width: 100%;
  }

  footer .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  footer .container h3 {
    text-align: center;
    margin-bottom: 15px;
  }

  footer .container .footer-links .footer-link {
    padding: 0px;
  }
}
